ConsoleApplication1/ConsoleApplication1/obj
ConsoleApplication1/.vs/ConsoleApplication1/v16
ConsoleApplication1/ConsoleApplication1/bin
ConsoleApplication1/ConsoleApplicationTest/bin
ConsoleApplication1/ConsoleApplicationTest/obj/Debug
ConsoleApplication1/.vs/ConsoleApplication1/v16
